version: '3.8'

services:
  cardiotwin-api:
    build: .
    container_name: cardiotwin-backend
    ports:
      - "8000:8000"
    environment:
      - DATABASE_URL=${DATABASE_URL}
    env_file:
      - .env
    restart: unless-stopped